html, body {
    height: 100%;
  }
  body {
    background-color: #f0f0f0;
  }

.nav {
height: 60px;
width: 100%;
background-color: #5276b9;
position: absolute;
z-index: 1;
}

.nav > .nav-header {
display: inline;
}

.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 22px;
color: #fff;
padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
display: none;
}

.nav > .nav-links {
display: inline;
float: right;
font-size: 23px;
}

.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: #efefef;
}

.nav > .nav-links > a:hover {
background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
display: none;
}

@media (max-width:600px) {
.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav-links > a {
    display: block;
    width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
    height: calc(200px - 50px);
    overflow-y: auto;
    z-index: 1;
}
}
.container{
    padding: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.map-container {
padding: 3.2rem .8rem;
position: relative;
display: inline-block;
border: 2px solid #555;

}
img {
    width: 100%;
    height: auto
}
.point {
    cursor: pointer;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #c13d00;
    border-radius: 50%;
    transition: all .3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba(#c13d00, 0.4);
    animation: pulse 3s infinite;
}

.point:hover {
    animation: none;
    transform:  translate(-50%, -50%) scale3D(1.35, 1.35 ,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    }

  .venezuela { top: 63%; left: 50%; }
  .argentina { top: 70%; left: 34%; }
  .usa { top: 39%; left: 30%; }
  .china { top: 30%; left: 72%; }
  .japan { top: 47%; left: 84%; }
  .australia { top: 75%; left: 83%; }

@keyframes pulse {
0% { box-shadow: 0 0 0 0 rgba(#c13d00, 0.5); }
70% { box-shadow: 0 0 0 25px rgba(#c13d00, 0); };
100% { box-shadow: 0 0 0 0 rgba(#c13d00, 0); }
}

.btn {
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #005bac;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #005bac;
    padding: 15px 10px 5px;
    position: fixed;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .zoom {
    left: 20px;
    bottom: 190px;
  }
  
  .zoom-out {
    left: 20px;
    bottom: 120px;
  }

